In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import json

In [3]:
ww2 = pd.read_csv("THOR_WWII_DATA_CLEAN.csv", encoding='latin_1', low_memory=False, parse_dates=[2])

In [4]:
ww2.columns

Index(['WWII_ID', 'MASTER_INDEX_NUMBER', 'MSNDATE', 'THEATER', 'NAF',
       'COUNTRY_FLYING_MISSION', 'TGT_COUNTRY_CODE', 'TGT_COUNTRY',
       'TGT_LOCATION', 'TGT_TYPE', 'TGT_ID', 'TGT_INDUSTRY_CODE',
       'TGT_INDUSTRY', 'SOURCE_LATITUDE', 'SOURCE_LONGITUDE', 'LATITUDE',
       'LONGITUDE', 'UNIT_ID', 'MDS', 'AIRCRAFT_NAME', 'MSN_TYPE',
       'TGT_PRIORITY', 'TGT_PRIORITY_EXPLANATION', 'AC_ATTACKING', 'ALTITUDE',
       'ALTITUDE_FEET', 'NUMBER_OF_HE', 'TYPE_OF_HE', 'LBS_HE', 'TONS_OF_HE',
       'NUMBER_OF_IC', 'TYPE_OF_IC', 'LBS_IC', 'TONS_OF_IC', 'NUMBER_OF_FRAG',
       'TYPE_OF_FRAG', 'LBS_FRAG', 'TONS_OF_FRAG', 'TOTAL_LBS', 'TOTAL_TONS',
       'TAKEOFF_BASE', 'TAKEOFF_COUNTRY', 'TAKEOFF_LATITUDE',
       'TAKEOFF_LONGITUDE', 'AC_LOST', 'AC_DAMAGED', 'AC_AIRBORNE',
       'AC_DROPPING', 'TIME_OVER_TARGET', 'SIGHTING_METHOD_CODE',
       'SIGHTING_EXPLANATION', 'BDA', 'CALLSIGN', 'ROUNDS_AMMO',
       'SPARES_RETURN_AC', 'WX_FAIL_AC', 'MECH_FAIL_AC', 'MISC_FAIL_AC',
       'TARGET_COMMENT', 'MISSION_COMMENTS', 'SOURCE',
       'DATABASE_EDIT_COMMENTS'],
      dtype='object')

In [5]:
ww2[['LATITUDE','LONGITUDE','TOTAL_TONS']]

         LATITUDE   LONGITUDE  TOTAL_TONS
0       38.220000   15.370000      10.000
1        9.750000  118.750000         NaN
2       39.270000   16.250000       9.000
3       38.430000   15.900000       7.500
4       16.083333  120.916667         NaN
5        9.750000  118.750000         NaN
6       24.000000  121.000000         NaN
7       14.333333  120.583333         NaN
8       38.230000   15.720000       0.000
9       38.430000   15.900000       0.000
10      13.583333  109.000000         NaN
11      52.530000   13.420000       1.000
12      52.530000   13.420000       4.000
13      51.400000    3.530000      39.000
14      51.400000    3.530000      39.000
15      51.400000    3.530000      39.000
16      49.900000    2.300000       5.000
17      49.900000    2.300000       5.000
18      49.900000    2.300000       5.000
19      49.900000    2.300000      20.000
20      49.900000    2.300000      20.000
21      49.900000    2.300000      20.000
22      51.400000    3.530000      36.000
23      51.400000    3.530000      36.000
24      51.400000    3.530000      36.000
25      49.900000    2.300000         NaN
26      49.900000    2.300000         NaN
27      49.900000    2.300000         NaN
28      51.400000    3.530000      32.000
29      51.400000    3.530000      32.000
...           ...         ...         ...
178251  -8.616667  148.283333       3.200
178252  -8.511389  126.013056       0.050
178253  11.266700   36.833300       1.000
178254  -2.579032  150.807331       2.000
178255  -7.057110  147.044845       0.500
178256  -8.511389  126.013056       0.950
178257  -8.674806  148.423919       0.750
178258  35.000000  138.500000       3.000
178259  20.633333   92.950000       4.000
178260   1.000000  128.000000      25.000
178261   1.200000  128.466667      25.000
178262  -7.057110  147.044845       0.500
178263  -8.466667  125.250000       0.500
178264  -6.716667  147.000000       0.800
178265  -7.057110  147.044845       0.500
178266  -9.031944  125.325000       0.450
178267  -8.617455  148.305380       2.000
178268  -9.031944  125.325000       0.200
178269  -6.183333  150.850000       1.500
178270   2.041100   45.342600       0.000
178271   7.200000   38.600000       6.000
178272  -3.695426  128.181405       1.125
178273  -5.433333  150.483333       1.500
178274  -8.616667  148.283333       0.500
178275  -8.635757  148.368853       1.250
178276  -8.472085  148.234293       2.250
178277   4.883333   38.083333       0.000
178278  -8.471111  126.458333       2.400
178279  -2.583333  150.833333       4.000
178280  -9.050000  124.533333       0.500

[178281 rows x 3 columns]

In [6]:
ww2.loc[:,['LATITUDE','LONGITUDE','TOTAL_TONS']]

         LATITUDE   LONGITUDE  TOTAL_TONS
0       38.220000   15.370000      10.000
1        9.750000  118.750000         NaN
2       39.270000   16.250000       9.000
3       38.430000   15.900000       7.500
4       16.083333  120.916667         NaN
5        9.750000  118.750000         NaN
6       24.000000  121.000000         NaN
7       14.333333  120.583333         NaN
8       38.230000   15.720000       0.000
9       38.430000   15.900000       0.000
10      13.583333  109.000000         NaN
11      52.530000   13.420000       1.000
12      52.530000   13.420000       4.000
13      51.400000    3.530000      39.000
14      51.400000    3.530000      39.000
15      51.400000    3.530000      39.000
16      49.900000    2.300000       5.000
17      49.900000    2.300000       5.000
18      49.900000    2.300000       5.000
19      49.900000    2.300000      20.000
20      49.900000    2.300000      20.000
21      49.900000    2.300000      20.000
22      51.400000    3.530000      36.000
23      51.400000    3.530000      36.000
24      51.400000    3.530000      36.000
25      49.900000    2.300000         NaN
26      49.900000    2.300000         NaN
27      49.900000    2.300000         NaN
28      51.400000    3.530000      32.000
29      51.400000    3.530000      32.000
...           ...         ...         ...
178251  -8.616667  148.283333       3.200
178252  -8.511389  126.013056       0.050
178253  11.266700   36.833300       1.000
178254  -2.579032  150.807331       2.000
178255  -7.057110  147.044845       0.500
178256  -8.511389  126.013056       0.950
178257  -8.674806  148.423919       0.750
178258  35.000000  138.500000       3.000
178259  20.633333   92.950000       4.000
178260   1.000000  128.000000      25.000
178261   1.200000  128.466667      25.000
178262  -7.057110  147.044845       0.500
178263  -8.466667  125.250000       0.500
178264  -6.716667  147.000000       0.800
178265  -7.057110  147.044845       0.500
178266  -9.031944  125.325000       0.450
178267  -8.617455  148.305380       2.000
178268  -9.031944  125.325000       0.200
178269  -6.183333  150.850000       1.500
178270   2.041100   45.342600       0.000
178271   7.200000   38.600000       6.000
178272  -3.695426  128.181405       1.125
178273  -5.433333  150.483333       1.500
178274  -8.616667  148.283333       0.500
178275  -8.635757  148.368853       1.250
178276  -8.472085  148.234293       2.250
178277   4.883333   38.083333       0.000
178278  -8.471111  126.458333       2.400
178279  -2.583333  150.833333       4.000
178280  -9.050000  124.533333       0.500

[178281 rows x 3 columns]

In [7]:
bombings_locations = (
    ww2[['LATITUDE','LONGITUDE','TOTAL_TONS']]
    .groupby(['LATITUDE','LONGITUDE'], as_index=False)
    .aggregate(np.sum)
    .dropna()
    #.merge(ww2[['LATITUDE','LONGITUDE','TGT_LOCATION']])
)

In [8]:
bombings_locations

        LATITUDE    LONGITUDE  TOTAL_TONS
0     -37.416667   150.366667        0.25
1     -36.733333   149.983333        0.25
2     -35.366667   152.600000        0.90
3     -34.266667   151.316667        0.25
4     -32.700000   152.383333        0.25
5     -32.200000   154.100000        0.50
6     -29.933333   153.750000        0.25
7     -22.266667   167.033333       18.00
8     -20.500000   164.233333        8.00
9     -20.333333   153.133333        0.20
10    -18.083333   150.233333        0.25
11    -16.433333   179.733333        5.00
12    -14.250000   167.416667        7.00
13    -12.916667   164.500000       11.00
14    -12.033801   128.984129        0.10
15    -11.466667   153.166667       45.00
16    -11.416667   154.100000        5.00
17    -11.133333   153.000000        3.00
18    -10.916667   152.250000        1.00
19    -10.833333   153.466667        4.00
20    -10.750000   151.500000       56.40
21    -10.750000   152.416667       12.50
22    -10.716667   152.500000        8.00
23    -10.666667   152.683333        0.80
24    -10.615585   142.332324        0.50
25    -10.583333   150.666667        5.00
26    -10.500000   151.083333       98.00
27    -10.450000   152.250000        4.00
28    -10.383333   161.450000        5.00
29    -10.333333   150.666667        2.00
...          ...          ...         ...
8916   54.520000    13.650000      755.00
8917   54.530000     9.580000       81.00
8918   54.570000     9.970000        8.00
8919   54.600000     9.740000       18.00
8920   54.620000     9.370000       80.00
8921   54.670000     8.330000       27.00
8923   54.700000     9.580000      200.00
8924   54.700000    10.200000        3.00
8925   54.770000     9.450000      953.00
8926   54.800000     8.300000       27.00
8927   54.830000     8.300000        2.00
8928   54.870000     8.330000       14.00
8929   54.900000     8.280000      198.00
8931   55.480000     8.470000      183.00
8932   55.680000    12.580000        9.00
8933   57.050000     9.920000        1.00
8934   58.170000     6.830000       20.00
8935   58.670000     7.070000      720.00
8936   58.970000     5.770000       19.00
8937   59.120000     9.630000      834.00
8938   59.270000    10.420000      427.00
8939   59.500000     9.000000        8.00
8940   59.870000     8.520000     1203.00
8941   59.970000    11.050000     2096.00
8942   60.380000     5.400000     1027.00
8943   63.120000     7.750000        3.00
8944   63.430000    10.400000      374.00
8945   69.580000    19.000000      174.00
8946   70.000000    22.000000      108.00
8947  100.650000  1000.650000     4276.00

[8768 rows x 3 columns]

http://geoffboeing.com/2015/10/exporting-python-data-geojson/

https://github.com/gboeing/urban-data-science/blob/3faf7e028d48cb03ddb999c5a910213c5384e7dc/17-Leaflet-Web-Mapping/leaflet-simple-demo/pandas-to-geojson.ipynb

https://github.com/gboeing/urban-data-science/blob/master/17-Leaflet-Web-Mapping/leaflet-simple-demo/pandas-to-geojson.ipynb

In [9]:
def df_to_geojson(df, properties, lat='latitude', lon='longitude'):
    geojson = {'type':'FeatureCollection', 'features':[]}
    for _, row in df.iterrows():
        feature = {'type':'Feature',
                   'properties':{},
                   'geometry':{'type':'Point',
                               'coordinates':[]}}
        feature['geometry']['coordinates'] = [row[lon],row[lat]]
        for prop in properties:
            feature['properties'][prop] = row[prop]
        geojson['features'].append(feature)
    return geojson

In [11]:
geojson = df_to_geojson(bombings_locations, ['TOTAL_TONS'], lat='LATITUDE', lon='LONGITUDE')

In [12]:
geojson_str = json.dumps(geojson, separators=(',', ':'))

In [13]:
output_filename = 'bombings.geojson'
with open(output_filename, 'w') as output_file:
    output_file.write("var bombings = {};".format(geojson_str))